[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbformat = "*"
scikit-learn = "*"
xgboost = "*"
matplotlib = "*"
seaborn = "*"
catboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
